body {
  background: url(//s1.twnmm.com/images/en_au/backgrounds/unified/default.jpg);
}
.bg-primary {
background-color: #5e6f84 !important;
background-image: none !important;
}
.btn-primary {
color: #fff;
background-color: #da9946 !important;
border-color: #da9946;
background-image: none !important;
font-size: 24px;
font-weight: 600;
}
.list-group-item {
background: #3e618f;
color: #fff;
margin-bottom: 2px;
}
.list-group-item:hover {
background: #3aa45d;
}
#w-location:hover {
font-size: 100px;
font-weight: 700;
color: #fc0;
}
.btn.btn-primary:hover {
	background-color: #fff !important;
	color: #000;
	font-weight: bold;
	font-size: 36px;
}